
#navbar 
{
    overflow: hidden;
    background-color: #0f86da;

    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  
  }
  
#navbar a 
{
    font-size: 17px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    width: 3erm;
    border-radius: 3px;
  }
  
  #navbar a:hover
  {
      background-color: #3199dc;
      border-width: 100%;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
  }

