* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  body,html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  
  form {
    width: 40%;
    margin-left: 30%;
    padding-top: 10%;
  }
  
  input {
    width: 100%;
    background: transparent;
    border-bottom: solid 1px #cccccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    padding: 0.5em 0.4em;
    transition: all 0.4s;
    color: white;
    margin: 0.7rem 0;
    height: 3rem;
  }
  input:focus {
    background: #2349db;
    color: #0f86da;
    color: #3199dc;
    color: #6dbbf0;

  }
  
  button {
    background: transparent;
    margin-top: 2.5rem;
    font-size: 1rem;
    border: solid 1px #cccccc;
    padding: 1em 0;
    color: #bdc3c7;
    transition: all 0.6s;
    width: 100%;
    height: 3.5rem;
  }
  button:hover {
    cursor:pointer;
    background: #2349db;
  }
  
  h1 {
    color: #bdc3c7;
    border-bottom: solid 1px #7035c4;
    padding: 0 0 0.8em 0;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1em;
  }
  @media (max-width: 550px) {
    form {
    width: 90%;
    margin-left: 3%;
    padding-top: 5%;
  }
    input {
      font-size: 1em;
    }
  }
  /* Style the navbar */
   #navbar {
    overflow: hidden;
    background-color: #0f86da;
    padding: 10px;
  
  }
  
  /* Navbar links */
  #navbar a {
    font-size: 17px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    width: 3erm;
    border-radius: 3px;
  }
  
  #navbar a:hover
  {
    background-color: #3199dc;
    border-width: 100%;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  