#container {
  display: flex;
  flex-wrap: wrap;
  background-color: lightGrey;
  padding: 10px;
  max-width: 1500px;
}

.card {
  background-color: teal;
  margin: 25px;
  height: 300px;
}

.flexy {
  flex-grow: 1;
  min-width: 300px;
}

.first {
  background-color: salmon !important;
}
