.float {
    -webkit-animation-name: Floating;
      -webkit-animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes Floating{
      from {-webkit-transform:translate(0, 0px);}
      65% {-webkit-transform:translate(0, 15px);}
      to {-webkit-transform: translate(0, -0px);    }    
  }
      